@font-face {
  font-family: Commit;
  src: url("./assets/commit-mono-vf.woff2") format("woff2");
  font-weight: 200 900;
  font-style: italic 0deg 1deg;
}

:root {
  --color: #353633;
  --background: #f1f2ed;
  --background-2: #fff;
  --gray: #535351;
  --line: #dcded3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #ecece5;
    --background: #2c2c2a;
    --background-2: #161615;
    --gray: #9e9f9a;
    --line: #363634;
  }
}

html {
  font-family: Commit, system-ui, sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  scroll-behavior: smooth;
  text-rendering: auto;
  overflow-wrap: break-word;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background);
  color: var(--color);
}
body {
  margin: 0;
}
b, strong {
  font-weight: bolder;
}
code, kbd, samp, pre {
  font-family: ui-monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
table {
  border-color: currentcolor;
}

.center-body {
  /* User settings */
  --max-width: 60ch;
  --margin-inline: 2rem;
  --margin-block: 2rem;

  /* Implementation */
  box-sizing: border-box;
  min-height: calc(100lvh - var(--margin-block) * 2);
  margin-block: var(--margin-block);
  margin-inline: var(--margin-inline);
  display: grid;
  grid-template-columns: minmax(0, var(--max-width));
  justify-content: center;
  align-content: start;
}

.main-header {
  display: grid;
  gap: 0.5rem;
  border-bottom: solid 1px var(--line);
  padding-bottom: 2rem;

  img {
    margin-bottom: 1rem;

    @media (prefers-color-scheme: light) {
      mix-blend-mode: multiply;
    }
  }

  h1 {
    margin: 0;
    letter-spacing: -0.02em;
    font-size: 2em;
  }

  p {
    font-size: 1em;
    color: var(--gray);
    margin: 0;
    letter-spacing: -0.015em;
  }
}
a, button {
  text-underline-offset: 0.2em;
}
.main-intro {
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: -0.015em;

  h2 {
    font-size: 1.2rem;
    margin-top: 2em;
  }

  a {
    color: var(--gray);

    &:hover {
      color: currentColor;
    }
  }

  code {
    border: solid 1px var(--line);
    color: var(--gray);
    padding: 0.2em;
    border-radius: 3px;
  }

  video {
    max-width: 100%;
    border-radius: 6px;
    margin: 2em 0;

    & {
      /* User settings */
      --shadow-color: hsl(0deg 0% 0% / 0.075);

      /* Implementation */
      box-shadow:
        0 1px 1px var(--shadow-color),
        0 2px 2px var(--shadow-color),
        0 4px 4px var(--shadow-color),
        0 8px 8px var(--shadow-color),
        0 16px 16px var(--shadow-color);
    }
  }
}

.button {
  &:where(
    button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"],
    a
  ),
  &:where(input[type="file"])::file-selector-button {
    /* User settings */
    --_font: inherit;
    --_color: var(--color);
    --_background: var(--background);
    --_border: solid 1px var(--line);
    --_gap: 1em 2em;
    border-radius: 6px;

    /* Implementation */
    font: var(--font);
    font-weight: 700;
    display: inline-flex;
    gap: var(--_gap);
    align-items: center;
    justify-content: center;
    text-align: center;
    border: var(--_border);
    padding: var(--_gap);
    text-decoration: none;
    color: var(--_color);
    background: var(--_background);
    cursor: pointer;
    box-sizing: border-box;

    &:disabled,
    &[aria-disabled="true"] {
      cursor: default;
      opacity: 0.33;
      pointer-events: none;
    }
  }
}

.packages {
  list-style-type: "";
  padding: 0;
  margin: 0;

  > li + li {
    margin-top: 0.5em;
  }
}
.package {
  padding: 2em 1.8em;
  background-color: var(--background-2);
  border-radius: 6px;
}
.package-name {
  color: var(--color);
  font-size: 1.2rem;
  display: block;
  margin: 0 1em 0 0;
}
.package-description {
  margin: 0.5em 0;
}
.package-modules {
  list-style-type: "";
  padding: 0;
  margin: 2em 0 0;
  column-width: 20ch;
}
.package-module {
  font-size: 1rem;
  color: var(--gray);
  display: inline-block;
  padding: 0.25em;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.search > form {
  padding: 1em 0;
  display: grid;
  gap: 0.5em;
}
.search-label {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}
.search-input {
  display: block;
  width: 100%;
  padding: 1em;
  border-radius: 6px;
  border: solid 1px var(--line);
  font: inherit;
}

.modal {
  position: fixed;
  width: min(100%, 600px);
  height: 100vh;
  margin: 0 0 0 auto;
  border: none;
  display: grid;
  grid-template-rows: auto auto 1fr;
  box-sizing: border-box;
  max-width: none;
  max-height: none;
  padding: 0;
  animation: showIn 200ms;
  background-color: var(--background);

  /* User settings */
  --shadow-color: hsl(0deg 0% 0% / 0.075);

  /* Implementation */
  box-shadow:
    0 1px 1px var(--shadow-color),
    0 2px 2px var(--shadow-color),
    0 4px 4px var(--shadow-color),
    0 8px 8px var(--shadow-color),
    0 16px 16px var(--shadow-color);

  nav {
    padding: 2em;
    display: flex;
    flex-direction: row-reverse;
    gap: 2em;
  }
  .package {
    border: solid 1px var(--line);
    margin: 0 2em;
    margin-bottom: 2em;
    padding: 0;
    overflow: hidden;

    header {
      padding: 1.5rem;
    }
  }
  .package-module-description:not(:empty) {
    padding: 0 1.5rem 1.5rem;
  }
  .package-module-css {
    margin: 1.5rem 0 0 0;
    border-radius: 0;
    position: relative;
    padding: 0;
    font-family: Commit, monospace;
    
    code {
      font-family: Commit, monospace;
      scrollbar-width: thin;
      scrollbar-color: #828477 #2d2e2b;
      max-height: 300px;
      overflow: auto;
      display: block;
      padding: 1.5rem;
    }

    button {
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      color: white;
    }
  }
  iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
    box-sizing: border-box;
    border-top: solid 1px var(--line);
    background: white;
  }
  a, button {
    background: none;
    border: none;
    font: inherit;
    text-decoration: underline;
    color: var(--color);
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}

@keyframes showIn {
  from {
    transform: translate(100%);
  }
  to {
    transform: translate(0);
  }
}

/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism-okaidia&languages=css */
code[class*="language-"], pre[class*="language-"] {
  color: #ffffff;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: #2d2e2b;
}
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
.token.cdata, .token.comment, .token.doctype, .token.prolog {
  color: #94978e;
}
.token.punctuation {
  color: #f1f2ed;
}
.token.namespace {
  opacity: 0.7;
}
.token.constant, .token.deleted, .token.property, .token.symbol, .token.tag {
  color: #ff7ead;
}
.token.boolean, .token.number {
  color: #ae81ff;
}
.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
  color: #a6e22e;
}
.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url,
.token.variable {
  color: #ffffff;
}
.token.atrule, .token.attr-value, .token.class-name, .token.function {
  color: #e8dc70;
}
.token.keyword {
  color: #66d9ef;
}
.token.important, .token.regex {
  color: #fd971f;
}
.token.bold, .token.important {
  font-weight: 700;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}

.markdown {
  font-size: .9rem;
  line-height: 1.4;
  letter-spacing: -0.015em;
  color: var(--gray);

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
      color: var(--color);
    }
  }
}